<mat-grid-list
  cols="4"
  class="posts">
  <mat-grid-tile
    class="posts__avatar"
    colspan="2"
    rowspan="2">
    <ng-content>
    </ng-content>
  </mat-grid-tile>
  <mat-grid-tile
    class="posts__private"
    colspan="2"
    rowspan="2"
    *ngIf="isPrivate">
    <p>This account is private!</p>
  </mat-grid-tile>
  <mat-grid-tile
    class="posts__post"
    colspan="1"
    *ngFor="let post of user.posts">
    <div class="image">
      <div class="image__overlay"></div>
      <div class="image__info">
        <div class="image__info__icon">
          <i class="material-icons">
            favorite_border
          </i>
        </div>
        <p class="image__info__likes-count">
          {{ post.likes }}
        </p>
      </div>
      <img
        class="image__photo"
        [src]="post.url"
        [alt]="post.id">
    </div>
  </mat-grid-tile>
</mat-grid-list>
