.wrapper {
  overflow-y: hidden;
  text-align: center;

  .photo {
    max-width: 450px;
  }

  .info {
    display: flex;
    justify-content: center;
    align-items: center;

    &__likes {
      margin-right: 5px;
    }

    &__icon {
      color: red;
    }
  }

  .caption {
    text-align: left;
    white-space: pre-wrap;
    word-wrap: break-word;
    margin-bottom: 10px;
  }
}
