<app-preloader
  *ngIf="!isDataLoaded">
</app-preloader>
<app-user-posts
  *ngIf="user; else notFound"
  [user]="user"
  class="user">
  <mat-card class="user__card">
    <mat-card-header>
      <img
        *ngIf="user.username === MY_PROFILE_USERNAME"
        class="user__crown"
        src="../../assets/images/crown.png"
        alt="Developer">
      <div
        mat-card-avatar
        class="user__avatar"
        [ngStyle]="setAvatar"
        (click)="onShowPhotoInDialog(user.profilePicUrlHD)">
      </div>
      <mat-card-title>{{ user.fullName ? user.fullName : user.username }}</mat-card-title>
      <mat-card-subtitle> {{ user.username }}</mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      class="user__photo"
      *ngIf="user.username === MY_PROFILE_USERNAME"
      src="../../assets/images/developer.jpg"
      [alt]="user.username">
    <mat-card-content>
      <p class="user__bio">{{ user.biography }}</p>
      <div *ngIf="user.externalUrl">
        <hr>
        <a class="user__ex-link"
           target="_blank"
           [href]="user.externalUrl"
           *ngIf="user.externalUrl">
          {{ user.externalUrl | shorten: 50 }}
        </a>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-button
        [matTooltip]="user.followers.toString()"
        [matTooltipDisabled]="user.followers < 1000"
        matTooltipShowDelay="500"
        color="primary"
        class="user__followers-info">
        <span class="info">{{ user.followers | numberFormat }}</span>
        <i class="icon material-icons" title="Followers">
          favorite_border
        </i>
      </button>
      <button
        mat-button
        [matTooltip]="user.followings.toString()"
        [matTooltipDisabled]="user.followings < 1000"
        matTooltipShowDelay="500"
        color="primary"
        class="user__followers-info">
        <span class="info">{{ user.followings | numberFormat }}</span>
        <i class="icon material-icons" title="Followings">
          favorite
        </i>
      </button>
    </mat-card-actions>
  </mat-card>
</app-user-posts>

<ng-template #notFound>
  <div class="user">
    <p class="user__not-found">
      {{ errorMessage }}
    </p>
  </div>
</ng-template>
