.user {
  position: relative;
  top: 15px;

  &__preloader {
    margin: 10px 0;
  }

  &__card {
    position: relative;
    top: 0;
  }

  &__photo {
    max-width: 400px;
  }

  &__crown {
    position: absolute;
    width: 35px;
    top: 3px;
    left: 10px;
  }

  &__avatar {
    cursor: pointer;
    background-size: cover;
  }

  &__bio {
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  &__ex-link {
    white-space: normal;
    word-wrap: normal;
    color: #000000;
    text-decoration: underline;

    &:hover {
      color: #6b6b6b;
    }
  }

  &__followers-info {
    color: #0E1116;

    .info {
      vertical-align: middle;
      margin-right: 5px;
    }

    .icon {
      color: red;
    }
  }

  &__not-found {
    text-align: center;
    font-size: 15px;
  }
}
