<div class="search">
  <form
    [formGroup]="searchFormGroup"
    class="search__form">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col">
          <label for="searchInput" aria-hidden="true"></label>
          <input
            class="search__form__input"
            type="text"
            [placeholder]="searchPlaceholder"
            id="searchInput"
            formControlName="search"
            (input)="onSearchInputChange()">
          <button
            class="search__form__submit"
            mat-raised-button
            color="primary"
            [disabled]="searchFormGroup.invalid"
            (click)="submit()">
            {{ buttonName }}
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
