.welcome {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 6rem;
  font-weight: normal;
  display: none;

  .brand {
    font-size: 6.5rem;
    color: red;
    font-weight: bold;
  }

  &.active {
    display: block;
  }
}

.content {
  margin-top: 90px;
  min-height: calc(100vh - 181px);

  &__header {
    font-weight: 300;
    font-size: 6rem;
  }
}
